<template>
    <div>
        <div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" v-model="name" id="name" class="form-control" name="name"/>
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="text" v-model="quantity" id="quantity" class="form-control" name="quantity"/>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" v-model="price" id="price" class="form-control" name="price"/>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" @click="addProduct">Add</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Date</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
            <tr v-for="product in products">
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.created_at }}</td>
                <td>{{ product.price * product.quantity}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total: {{ total }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                quantity: '',
                price: '',
                products: [],
                total: 0,
            };
        },

        methods: {

            addProduct() {
                axios.post('/api/products', {
                    name: this.name,
                    quantity: this.quantity,
                    price: this.price,
                }).then((response) => {
                    this.getProducts();
                }).catch(function (e) {
                    console.log(e);
                });
            },

            calculateTotal()
            {
                var i = 0;
                for (i = 0; i < this.products.length; i++) {
                    this.total += this.products[i].price * this.products[i].quantity;
                };
            },

            getProducts() {
                axios.get('/api/products')
                    .then((response) => {
                        this.products = response.data;
                        this.calculateTotal();
                    }).catch(function (e) {
                    console.log(e);
                });
            },
        },

        mounted() {
            this.getProducts();
        }
    }
</script>
